#line1 {
    width: 75px;
    height: 10px;
    background-color: black;
    margin: 10px auto;
}
 
#Intro {
    background-image: url("mcu-1-iron-man.jpg");
    color: aliceblue;
}

body {
    margin: 40px;
    text-align: center;
    background-color: darkslategray;
}

.lynx {
    display: inline;
    font-family: fantasy;
    color: goldenrod;
    background-color: red;
    padding-bottom: 10px;
     padding-left: 6px;
     padding-right: 6px;
     padding-top: 10px;
}

.lynx:hover {
    background-color: silver;
    font-family: 'Righteous', cursive;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
}
.navbar-inverse{
    background-color: black;
    color: red;
    
}
html{
    scroll-behavior: smooth;
}